datastructures/DAY1/add_triplet_mat
datastructures/DAY1/identity_diagonal
datastructures/DAY1/matrix_mul
datastructures/DAY1/matrix_mul_random
datastructures/DAY1/reverse_array
datastructures/DAY1/sparse_matrix
datastructures/DAY3/Singli_linked_list
make_file/Makefiles_Tutorial.pdf
make_file/calculater/out/calculator
make_file/calculater/src/obj/calculator.o
make_file/calculater/src/obj/main.o
datastructures/DAY5/Stack
datastructures/DAY5/queue
datastructures/DAY5/postfix_eval
datastructures/Graph Traversals/DFS/a.out
datastructures/Graph Traversals/DFS/dfs
datastructures/DAY4/Circular_doubly_linked_list